@model IEnumerable<AplicacioFarmacies.Models.Provincia>

@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="panel panel-default">
@foreach (var item in Model)
{
    <div class="col-md-6 panel panel-primary">
        <div class="panel-heading">
            @Html.DisplayNameFor(model => model.NomProvincia)
        </div>
        <div class="panel-body">
            @Html.DisplayFor(modelItem => item.NomProvincia)
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Veure població", "Details", new { id = item.IdProvincia })
        </div>
    </div>
}
</div>