@model IEnumerable<AplicacioFarmacies.Models.Poblacio>

@{
    ViewBag.Title = "Poblacio_Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    
    <div class="panel panel-default">
        @foreach (var item in Model)
    {
        <div class="col-md-6 panel panel-primary">
            <div class="panel-heading">
                @Html.DisplayFor(modelItem => item.NomPoblacio)
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Veure farmacies", "Details", new { id = item.IdPoblacio })

            </div>
        </div>
        }

</table>

